[Unit]
Description=Chanvoter uWSGI service
After=syslog.target

[Service]
user=deadstone
WorkingDirectory=/home/deadstone/Projects/chanvoter/chanvoter
Environment="PATH=/home/deadstone/Projects/chanvoter/bin"
ExecStart=uwsgi --ini deploy/uwsgi.ini

RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target