{% extends "base.html.j2" %}

{% block body %}
<div class="container mt-3">
    <div class="h2 text-center">
        Актуальные ставки:
    </div>

    <div class='table-responsive'>
        <table class='table'>
            <tr>
                <th scope="col">Ставка</th>
                <th scope="col">Девушка 1</th>
                <th scope="col">Девушка 2</th>
                <th scope="col">Коэффиценты</th>
                <th scope="col">Статус</th>
            </tr>
            <tbody>
                {% for contest in bet_contests %}
                {% if contest.id in rated_contests  %}
                <tr class='table-success'>
                {% else %}
                <tr class='table-warning'>
                {% endif %}
                    <td>
                        <a href='/bet/{{ contest.id }}'>
                            /bet/{{ contest.id }}
                        </a>
                    </td>
                    <td>{{ contest.first_girl.name }}</td>
                    <td>{{ contest.second_girl.name }}</td>
                    <td> x{{ contest.coeff1|round(2) }} : x{{ contest.coeff2|round(2) }} </td>
                    <td>
                        {% if contest.id in rated_contests  %}
                        Сделали ставку
                        {% else %}
                        Не сделали ставку
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
