{% extends "base.html" %}
{% block body %}
    
    <div class='container mt-3 col-12'>
        <div class='row'>
            <img  class='rounded mx-auto d-block col-6' alt='Артур Шопенгауэр' src='http://www.izbrannoe.com/upload/resize_cache/iblock/98c/705_391_2/98c13dcb42bf7427cef55b1c16771529.jpg'>
        </div>

        <div class='row'>  
            <div class='container center-block'>
                <blockquote class="blockquote text-center">
                <p class="mb-0">Низкорослый, узкоплечий, широкобедрый пол мог назвать прекрасным только отуманенный половым побуждением рассудок мужчины: вся его красота и кроется в этом побуждении.</p>
                <footer class="blockquote-footer"><cite>Артур Шопенгауэр - убеждённый женоненавистник</cite></footer>
                </blockquote>
            </div>
        </div>

        <div class='row col-6 mt-5 mx-auto justify-content-center'>
            <h1>Актуальные соревнования:</h1>
        </div>

        {% for contest in active_contests %}
        <div class='row col-8 mx-auto align-item-center border bg-light mt-3'>
                <div class='col-4 float-left text-center'>
                        <img class='rounded img-fluid pt-3' src='{{ contest.first_girl.photo }}'>
                    <h6>{{ contest.first_girl.name }}</h6>
                </div>

                <div class='col-4 mx-auto center-text text-center mt-3'>
                        <a href='/contest/{{ contest.id  }}'>
                        <div><button type='button' class='btn btn-dark btn-block' >
                            Vote!
                        </button></div>
                        </a>
                        <h4>До конца голосования: 13:45:61</h4>
                </div>

                <div class='col-4 float-right text-center'>
                        <img class='rounded img-fluid pt-3' src='{{ contest.second_girl.photo }}'>
                    <h6>{{ contest.second_girl.name }}</h6>
                </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
